@{
	Layout = "Layout";
}
	<!--Slider Here-->
	<div id="home" class="section dart-no-padding-tb">
		<div id="revo_main_wrapper" class="rev_slider_wrapper fullwidthbanner-container">
			<div id="rev_slider_251_115" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.1">
				<ul>
					<!-- SLIDE 1 -->
					<li data-index="rs-01" data-transition="fade" data-slotamount="default" data-easein="Power3.easeInOut" data-easeout="Power3.easeInOut" data-masterspeed="2000" data-fsmasterspeed="1500" class="rev_gradient">

						<!-- MAIN IMAGE -->
						<img src="../images/front-end-img/banners/slider-1.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-bgparallax="10"  data-no-retina>
						<!-- LAYER NR. 1 -->
						<div class="tp-caption tp-resizeme text-white"
							 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
							 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
							 data-fontsize="['55','55','40','40']"
							 data-lineheight="['55','55','40','40']"
							 data-whitespace="nowrap" data-responsive_offset="on"
							 data-width="['none','none','none','none']" data-type="text"
							 data-textalign="['center','center','center','center']"
							 data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
							 data-start="1200" data-splitin="none" data-splitout="none">
							Welcome to Rhythm
						</div>
						<div class="tp-caption tp-resizeme whitecolor"
							 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
							 data-y="['middle','middle','middle','middle']" data-voffset="['50','50','50','50']"
							 data-whitespace="nowrap" data-responsive_offset="on"
							 data-width="['none','none','none','none']" data-type="text"
							 data-textalign="['center','center','center','center']" data-fontsize="['24','24','20','20']"
							 data-transform_idle="o:1;"
							 data-transform_in="z:0;rX:0deg;rY:0;rZ:0;sX:2;sY:2;skX:0;skY:0;opacity:0;s:1000;e:Power2.easeOut;"
							 data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
							 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
							 data-start="1500" data-splitin="none" data-splitout="none">
							<p style="line-height: 23px; font-weight: 400; font-size: 18px; color: #ffffff;">Aenean tellus vitae ex rhoncus Sollicitudin </p>
						</div>
						<div class="tp-caption tp-resizeme"
							 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
							 data-y="['middle','middle','middle','middle']" data-voffset="['120','120','120','120']"
							 data-width="200" data-height="none"
							 data-whitespace="normal" data-type="button"
							 data-actions='' data-responsive_offset="on"
							 data-textAlign="['center','center','center','center']"
							 data-margintop="[0,0,0,0]" data-marginright="[0,0,0,0]"
							 data-marginbottom="[0,0,0,0]" data-marginleft="[0,0,0,0]"
							 data-frames='[{"delay":700,"speed":2000,"frame":"0","from":"sX:1;sY:1;opacity:0;fb:40px;","to":"o:1;fb:0;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"200","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;fb:0;"}]'
							 style=" box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;">
							<a href="#." class="btn btn-primary">Learn More</a>
						</div>
					</li>

					<!-- SLIDE 2  -->
					<li data-index="rs-02" data-transition="fade" data-slotamount="default" data-easein="Power3.easeInOut" data-easeout="Power3.easeInOut" data-masterspeed="2000" data-fsmasterspeed="1500">

						<!-- MAIN IMAGE -->
						<img src="../images/front-end-img/banners/slider-2.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-bgparallax="10" data-no-retina>
						<!-- LAYER NR. 1 -->
						<div class="tp-caption tp-resizeme text-white"
							 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
							 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
							 data-fontsize="['55','55','40','40']"
							 data-lineheight="['55','55','40','40']"
							 data-whitespace="nowrap" data-responsive_offset="on"
							 data-width="['none','none','none','none']" data-type="text"
							 data-textalign="['center','center','center','center']"
							 data-transform_idle="o:1;"
							 data-transform_in="x:-50px;opacity:0;s:2000;e:Power3.easeOut;"
							 data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
							 data-start="1000" data-splitin="none" data-splitout="none">
							 Earn More with us.
						</div>
						<div class="tp-caption tp-resizeme whitecolor"
							 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
							 data-y="['middle','middle','middle','middle']" data-voffset="['50','50','50','50']"
							 data-whitespace="nowrap" data-responsive_offset="on"
							 data-width="['none','none','none','none']" data-type="text"
							 data-textalign="['center','center','center','center']" data-fontsize="['24','24','20','20']"
							 data-transform_idle="o:1;"
							 data-transform_in="z:0;rX:0deg;rY:0;rZ:0;sX:2;sY:2;skX:0;skY:0;opacity:0;s:1000;e:Power2.easeOut;"
							 data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
							 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
							 data-start="1500" data-splitin="none" data-splitout="none">
							<p style="line-height: 23px; font-weight: 400; font-size: 18px; color: #ffffff;">Aenean tellus vitae ex rhoncus Sollicitudin</p>
						</div>
						<div class="tp-caption tp-resizeme"
							 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
							 data-y="['middle','middle','middle','middle']" data-voffset="['120','120','120','120']"
							 data-width="200" data-height="none"
							 data-whitespace="normal" data-type="button"
							 data-actions='' data-responsive_offset="on"
							 data-textAlign="['center','center','center','center']"
							 data-margintop="[0,0,0,0]" data-marginright="[0,0,0,0]"
							 data-marginbottom="[0,0,0,0]" data-marginleft="[0,0,0,0]"
							 data-frames='[{"delay":700,"speed":2000,"frame":"0","from":"sX:1;sY:1;opacity:0;fb:40px;","to":"o:1;fb:0;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"200","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;fb:0;"}]'
							 style=" box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;">
							<a href="#." class="btn btn-primary">Learn More</a>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
    
	<section class="py-0" data-aos="fade-up">
		<div class="row g-0">
			<div class="col-lg-4 col-12">
				<div class="bg-primary p-45">
					<div class="d-flex align-items-start">
						<div class="icon bg-white me-20 fs-30 rounded-circle d-table text-center w-70 h-70 l-h-70">
							<i class="ti-heart text-primary"></i>
						</div>
						<div class="feature-info">
							<h3 class="text-white fw-500">What We Can Do</h3>
							<p class="text-white-70">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal.</p>
						</div>
					</div>
				</div>
			</div>				
			<div class="col-lg-4 col-12">
				<div class="bg-success2 p-45">
					<div class="d-flex align-items-start">
						<div class="icon bg-white me-20 fs-30 rounded-circle d-table text-center w-70 h-70 l-h-70">
							<i class="ti-star text-primary"></i>
						</div>
						<div class="feature-info">
							<h3 class="text-white fw-500">Our Special Care</h3>
							<p class="text-white-70">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-12">
				<div class="bg-success3 p-45">
					<div class="d-flex align-items-start">
						<div class="icon bg-white me-20 fs-30 rounded-circle d-table text-center w-70 h-70 l-h-70">
							<i class="fa fa-phone text-primary"></i>
						</div>
						<div class="feature-info">
							<h3 class="text-white fw-500">Contact And Hotlines</h3>
							<p class="text-white-70">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<section class="pt-50" data-aos="fade-up">
		<div class="container-fluid">
			 <div class="row justify-content-center text-center">
				<div class="col-lg-9 col-12">
					<div class="text-center mb-50">
						<h2 class="mb-10 fw-500">Sed ut perspiciatis <span class="text-primary"> unde omnis iste natus</span> error sit voluptatem <span class="text-primary"> accusantium</span> doloremque</h2>
						<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using ‘Content here, content here’, making it look like readable English.</p>
					</div>
				</div>
			</div>
			 <div class="row justify-content-center g-0">
				<div class="col-xl-3 col-12 d-xl-block d-none">
					<div class="h-p100" style="background-image: url(../images/front-end-img/295x566.png); background-position: center center;"></div>
				</div>
				<div class="col-xl-9 col-12 bg-gray-100">
					<div class="tab h-p100">
						<ul class="nav nav-tabs bg-gray mb-20" id="myTab" role="tablist">
							<li class="nav-item">
								<a class="nav-link m-0 rounded-0 py-10 px-20 active show" id="home-04-tab" data-bs-toggle="tab" href="#home-04" role="tab" aria-controls="home-04" aria-selected="true">Routine Checkup</a>
							</li>
							<li class="nav-item">
								<a class="nav-link m-0 rounded-0 py-10 px-20" id="profile-04-tab" data-bs-toggle="tab" href="#profile-04" role="tab" aria-controls="profile-04" aria-selected="false">Laboratory </a>
							</li>
							<li class="nav-item">
								<a class="nav-link m-0 rounded-0 py-10 px-20" id="portfolio-04-tab" data-bs-toggle="tab" href="#portfolio-04" role="tab" aria-controls="portfolio-04" aria-selected="false">Screening </a>
							</li>
							<li class="nav-item">
								<a class="nav-link m-0 rounded-0 py-10 px-20" id="contact-04-tab" data-bs-toggle="tab" href="#contact-04" role="tab" aria-controls="contact-04" aria-selected="false">Special Care </a>
							</li>
						</ul>
						<div class="tab-content h-p100 px-20" id="myTabContent">
							<div class="tab-pane fade active show h-p100" id="home-04" role="tabpanel" aria-labelledby="home-04-tab">
								<div class="row">
									<div class="col-md-6 col-12">
										<h4 class="fw-500">WHERE CAN I GET SOME?</h4>
										<p class="fs-16">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.<br><br> All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words.</p>
										<ul class="list list-mark">
											<li class="text-primary"> CURABITUR CURSUS AUGUE SED MAURIS ORNARE DIGNISSIM.</li>
											<li class="text-primary"> DONEC INTERDUM LOREM EGET VIVERRA IACULIS.</li>
											<li class="text-primary"> MAURIS MALESUADA LOREM IN ODIO ORNARE PLACERAT.</li>
										</ul>
									</div>
									<div class="col-md-6 col-12">
										<div class="py-15 px-15 bg-gray-200">
											<h4 class="fw-500">APPOINTMENT</h4>
											<div class="table-responsive">
												<table class="table table-striped mb-0">
													<tbody>
														<tr>
															<th><h5 class="mb-0">Time</h5></th>
															<th><h5 class="mb-0">Type</h5></th>
															<th><h5 class="mb-0">Doctor Name</h5></th>
														</tr>
														<tr>
															<td>18.00 – 06.00</td>
															<td>Lorem</td>
															<td>Bonorum Demon</td>
														</tr>
														<tr>
															<td>20.00 – 06.00</td>
															<td>Boxi</td>
															<td>Matt Demon</td>
														</tr>
														<tr>
															<td>19.00 – 06.00</td>
															<td>Box</td>
															<td>Matt Bonorum</td>
														</tr>
														<tr>
															<td>16.00 – 06.00</td>
															<td>Finibus</td>
															<td>Rackham</td>
														</tr>
													</tbody>
												</table>
											</div>												
											<p class="mt-15">It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable.</p>
										</div>
									</div>
								</div>
							</div>
							<div class="tab-pane fade h-p100" id="profile-04" role="tabpanel" aria-labelledby="profile-04-tab">
								 <div class="row">
									<div class="col-md-6 col-12">
										<h4 class="fw-500">WHY DO WE USE?</h4>
										<p class="fs-16">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.<br><br> All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words.</p>
										<ul class="list list-mark">
											<li class="text-primary"> CURABITUR CURSUS AUGUE SED MAURIS ORNARE DIGNISSIM.</li>
											<li class="text-primary"> DONEC INTERDUM LOREM EGET VIVERRA IACULIS.</li>
											<li class="text-primary"> MAURIS MALESUADA LOREM IN ODIO ORNARE PLACERAT.</li>
										</ul>
									</div>
									<div class="col-md-6 col-12">
										<div class="py-15 px-15 bg-gray-200">
											<h4 class="fw-500">APPOINTMENT</h4>
											<div class="table-responsive">
												<table class="table table-striped mb-0">
													<tbody>
														<tr>
															<th><h5 class="mb-0">Time</h5></th>
															<th><h5 class="mb-0">Type</h5></th>
															<th><h5 class="mb-0">Doctor Name</h5></th>
														</tr>
														<tr>
															<td>18.00 – 06.00</td>
															<td>Lorem</td>
															<td>Bonorum Demon</td>
														</tr>
														<tr>
															<td>20.00 – 06.00</td>
															<td>Boxi</td>
															<td>Matt Demon</td>
														</tr>
														<tr>
															<td>19.00 – 06.00</td>
															<td>Box</td>
															<td>Matt Bonorum</td>
														</tr>
														<tr>
															<td>16.00 – 06.00</td>
															<td>Finibus</td>
															<td>Rackham</td>
														</tr>
													</tbody>
												</table>
											</div>												
											<p class="mt-15">It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable.</p>
										</div>
									</div>
								</div>
							</div>
							<div class="tab-pane fade h-p100" id="portfolio-04" role="tabpanel" aria-labelledby="portfolio-04-tab">
								 <div class="row">
									<div class="col-md-6 col-12">
										<h4 class="fw-500">DO WE USE IT?</h4>
										<p class="fs-16">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.<br><br> All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words.</p>
										<ul class="list list-mark">
											<li class="text-primary"> CURABITUR CURSUS AUGUE SED MAURIS ORNARE DIGNISSIM.</li>
											<li class="text-primary"> DONEC INTERDUM LOREM EGET VIVERRA IACULIS.</li>
											<li class="text-primary"> MAURIS MALESUADA LOREM IN ODIO ORNARE PLACERAT.</li>
										</ul>
									</div>
									<div class="col-md-6 col-12">
										<div class="py-15 px-15 bg-gray-200">
											<h4 class="fw-500 5">APPOINTMENT</h4>
											<div class="table-responsive">
												<table class="table table-striped mb-0">
													<tbody>
														<tr>
															<th><h5 class="mb-0">Time</h5></th>
															<th><h5 class="mb-0">Type</h5></th>
															<th><h5 class="mb-0">Doctor Name</h5></th>
														</tr>
														<tr>
															<td>18.00 – 06.00</td>
															<td>Lorem</td>
															<td>Bonorum Demon</td>
														</tr>
														<tr>
															<td>20.00 – 06.00</td>
															<td>Boxi</td>
															<td>Matt Demon</td>
														</tr>
														<tr>
															<td>19.00 – 06.00</td>
															<td>Box</td>
															<td>Matt Bonorum</td>
														</tr>
														<tr>
															<td>16.00 – 06.00</td>
															<td>Finibus</td>
															<td>Rackham</td>
														</tr>
													</tbody>
												</table>
											</div>												
											<p class="mt-15">It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable.</p>
										</div>
									</div>
								</div>
							</div>
							<div class="tab-pane fade h-p100" id="contact-04" role="tabpanel" aria-labelledby="contact-04-tab">
								 <div class="row">
									<div class="col-md-6 col-12">
										<h4 class="fw-500">WHY DO WE USE IT?</h4>
										<p class="fs-16">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.<br><br> All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words.</p>
										<ul class="list list-mark">
											<li class="text-primary"> CURABITUR CURSUS AUGUE SED MAURIS ORNARE DIGNISSIM.</li>
											<li class="text-primary"> DONEC INTERDUM LOREM EGET VIVERRA IACULIS.</li>
											<li class="text-primary"> MAURIS MALESUADA LOREM IN ODIO ORNARE PLACERAT.</li>
										</ul>
									</div>
									<div class="col-md-6 col-12">
										<div class="py-15 px-15 bg-gray-200">
											<h4 class="fw-100">APPOINTMENT</h4>
											<div class="table-responsive">
												<table class="table table-striped mb-0">
													<tbody>
														<tr>
															<th><h5 class="mb-0">Time</h5></th>
															<th><h5 class="mb-0">Type</h5></th>
															<th><h5 class="mb-0">Doctor Name</h5></th>
														</tr>
														<tr>
															<td>18.00 – 06.00</td>
															<td>Lorem</td>
															<td>Bonorum Demon</td>
														</tr>
														<tr>
															<td>20.00 – 06.00</td>
															<td>Boxi</td>
															<td>Matt Demon</td>
														</tr>
														<tr>
															<td>19.00 – 06.00</td>
															<td>Box</td>
															<td>Matt Bonorum</td>
														</tr>
														<tr>
															<td>16.00 – 06.00</td>
															<td>Finibus</td>
															<td>Rackham</td>
														</tr>
													</tbody>
												</table>
											</div>												
											<p class="mt-15">It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<section class="py-50" style="background-image: url(../images/front-end-img/bg-1.png); background-position: bottom center; background-size: cover;" data-aos="fade-up">
		<div class="container">
			 <div class="row">
				<div class="col-12">
					<div class="text-center mb-50">
						<h2 class="mb-10 fw-500 5">Meet <span class="text-primary">Our Doctor</span> and his professional staff</h2>
						<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dol.</p>
					</div>
				</div>
			</div>
			<div class="row pt-20 align-items-center justify-content-center">
				<div class="col-lg-4 col-sm-6 sm-mb-30">
					<div class="team team-round-shadow">
						<div class="team-photo">
							<img class="img-fluid mx-auto" src="../images/front-end-img/team-1.jpg" alt="">
						</div>
						<div class="team-description">
							<div class="team-info">
								<h3 class="fw-500"><a href="#"> Dr. Johen doe</a></h3>
							</div>
							<hr class="my-3">
							<div class="team-contact">
								<p class="text-primary mb-15">Position: Assistant Nurse</p>
								<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature</p>
							</div>
							<div>
								<ul class="list-unstyled d-flex gap-items-1 justify-content-center">
									<li class="waves-effect waves-circle btn btn-social-icon btn btn-circle btn-facebook"><a href="#"><i class="fa fa-facebook text-white"></i></a></li>
									<li class="waves-effect waves-circle btn btn-social-icon btn btn-circle btn-twitter"><a href="#"><i class="fa fa-twitter text-white"></i></a></li>
									<li class="waves-effect waves-circle btn btn-social-icon btn btn-circle btn-linkedin"><a href="#"><i class="fa fa-linkedin text-white"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-sm-6 sm-mb-30">
					<div class="team team-round-shadow">
						<div class="team-photo">
							<img class="img-fluid mx-auto" src="../images/front-end-img/team-2.jpg" alt="">
						</div>
						<div class="team-description">
							<div class="team-info">
								<h3 class="fw-500"><a href="#"> Dr. Morcal Doe</a></h3>
							</div>
							<hr class="my-3">
							<div class="team-contact">
								<p class="text-primary mb-15">Position: Doctor</p>
								<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature</p>
							</div>
							<div>
								<ul class="list-unstyled d-flex gap-items-1 justify-content-center">
									<li class="waves-effect waves-circle btn btn-social-icon btn btn-circle btn-facebook"><a href="#"><i class="fa fa-facebook text-white"></i></a></li>
									<li class="waves-effect waves-circle btn btn-social-icon btn btn-circle btn-twitter"><a href="#"><i class="fa fa-twitter text-white"></i></a></li>
									<li class="waves-effect waves-circle btn btn-social-icon btn btn-circle btn-linkedin"><a href="#"><i class="fa fa-linkedin text-white"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-sm-6 sm-mb-30">
					<div class="team team-round-shadow">
						<div class="team-photo">
							<img class="img-fluid mx-auto" src="../images/front-end-img/team-3.jpg" alt="">
						</div>
						<div class="team-description">
							<div class="team-info">
								<h3 class="fw-500"><a href="#"> Dr. Paul Carlos</a></h3>
							</div>
							<hr class="my-3">
							<div class="team-contact">
								<p class="text-primary mb-15">Position: Assistant Doctor</p>
								<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature</p>
							</div>
							<div>
								<ul class="list-unstyled d-flex gap-items-1 justify-content-center">
									<li class="waves-effect waves-circle btn btn-social-icon btn btn-circle btn-facebook"><a href="#"><i class="fa fa-facebook text-white"></i></a></li>
									<li class="waves-effect waves-circle btn btn-social-icon btn btn-circle btn-twitter"><a href="#"><i class="fa fa-twitter text-white"></i></a></li>
									<li class="waves-effect waves-circle btn btn-social-icon btn btn-circle btn-linkedin"><a href="#"><i class="fa fa-linkedin text-white"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>
	
	<section class="py-0" data-aos="fade-up">
		<div class="row g-0">
			<div class="col-lg-4 col-12">
				<div class="bg-primary p-45">
					<div class="d-flex align-items-start">
						<div class="icon me-20 d-table">
							<img src="../images/front-end-img/icon1.png" class="img-fluid min-w-65" alt="" />
						</div>
						<div class="feature-info">
							<h4 class="text-white fw-500">Effective Order System</h4>
							<p class="fs-16 text-white-70">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
						</div>
					</div>
				</div>
			</div>				
			<div class="col-lg-4 col-12">				
				<div class="bg-primary-light p-45">
					<div class="d-flex align-items-start">
						<div class="icon me-20 d-table">
							<img src="../images/front-end-img/icon2.png" class="img-fluid min-w-65" alt="" />
						</div>
						<div class="feature-info">
							<h4 class="fw-500">Modern Interiors</h4>
							<p class="fs-16 text-black-70">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-12">				
				<div class="bg-primary p-45">
					<div class="d-flex align-items-start">
						<div class="icon me-20 d-table">
							<img src="../images/front-end-img/icon3.png" class="img-fluid min-w-65" alt="" />
						</div>
						<div class="feature-info">
							<h4 class="text-white fw-500">High Quality Services</h4>
							<p class="fs-16 text-white-70">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-12">				
				<div class="bg-primary-light p-45">
					<div class="d-flex align-items-start">
						<div class="icon me-20 d-table">
							<img src="../images/front-end-img/icon4.png" class="img-fluid min-w-65" alt="" />
						</div>
						<div class="feature-info">
							<h4 class="fw-500">Helpful Personnel</h4>
							<p class="fs-16 text-black-70">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
						</div>
					</div>
				</div>
			</div>				
			<div class="col-lg-4 col-12">				
				<div class="bg-primary p-45">
					<div class="d-flex align-items-start">
						<div class="icon me-20 d-table">
							<img src="../images/front-end-img/icon5.png" class="img-fluid min-w-65" alt="" />
						</div>
						<div class="feature-info">
							<h4 class="text-white fw-500">New Technologies</h4>
							<p class="fs-16 text-white-70">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-12">				
				<div class="bg-primary-light p-45">
					<div class="d-flex align-items-start">
						<div class="icon me-20 d-table">
							<img src="../images/front-end-img/icon6.png" class="img-fluid min-w-65" alt="" />
						</div>
						<div class="feature-info">
							<h4 class="fw-500">Wifi in Waiting Room</h4>
							<p class="fs-16 text-black-70">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="py-50" data-aos="fade-up">
		<div class="container">
			 <div class="row">
				<div class="col-12">
					<div class="text-center mb-50">
						<h2 class="mb-10 fw-500 5">What People say <span class="text-primary">About Us</span></h2>
						<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using ‘Content here, content here’, making it look like readable English.</p>
					</div>
				</div>
			</div>
			<div class="row">				
				<div class="col-md-3 col-12">
					<div class="box pull-up">
						<div class="box-body">
							<div>
								<div class="d-flex align-items-center mb-30">
									<div class="me-15">
										<img src="../images/front-end-img/avatar/1.jpg" class="avatar avatar-lg rounded10" alt="">
									</div>
									<div class="d-flex flex-column fw-500">
										<a href="#" class="text-dark hover-primary mb-1 fs-16">Johen Kothari</a>
										<span class="text-fade fs-12">Software Engineer</span>
									</div>
								</div>
								<p class="mb-25 min-h-120">A great aspect of this course is the student mentors. These people are always there to help, support, and motivate the student to complete modules...</p>
								<div class="d-flex align-items-center">
									<a href="#">
										<i class="me-15 fa fa-linkedin-square"></i>
										<span>Detailed Review</span>									
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-12">
					<div class="box pull-up">
						<div class="box-body">
							<div>
								<div class="d-flex align-items-center mb-30">
									<div class="me-15">
										<img src="../images/front-end-img/avatar/2.jpg" class="avatar avatar-lg rounded10" alt="">
									</div>
									<div class="d-flex flex-column fw-500">
										<a href="#" class="text-dark hover-primary mb-1 fs-16">Johen doe</a>
										<span class="text-fade fs-12">Vice President</span>
									</div>
								</div>
								<p class="mb-25 min-h-120">This course actually helped me move from being a general manager to vice president. The content was exciting. I actually implemented what I learnt through case...</p>
								<div class="d-flex align-items-center">
									<a href="#">
										<i class="me-15 fa fa-linkedin-square"></i>
										<span>Detailed Review</span>									
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-12">
					<div class="box pull-up">
						<div class="box-body">
							<div>
								<div class="d-flex align-items-center mb-30">
									<div class="me-15">
										<img src="../images/front-end-img/avatar/3.jpg" class="avatar avatar-lg rounded10" alt="">
									</div>
									<div class="d-flex flex-column fw-500">
										<a href="#" class="text-dark hover-primary mb-1 fs-16">Anshu Srivastav</a>
										<span class="text-fade fs-12">Research Assistant</span>
									</div>
								</div>
								<p class="mb-25 min-h-120">Group case studies really give a sense of teamwork, as it happens in regular classroom studies. It teaches us coordination and right attitude as a team...</p>
								<div class="d-flex align-items-center">
									<a href="#">
										<i class="me-15 fa fa-linkedin-square"></i>
										<span>Detailed Review</span>									
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-12">
					<div class="box pull-up">
						<div class="box-body">
							<div>
								<div class="d-flex align-items-center mb-30">
									<div class="me-15">
										<img src="../images/front-end-img/avatar/4.jpg" class="avatar avatar-lg rounded10" alt="">
									</div>
									<div class="d-flex flex-column fw-500">
										<a href="#" class="text-dark hover-primary mb-1 fs-16">Mical Doe</a>
										<span class="text-fade fs-12">Analyst</span>
									</div>
								</div>
								<p class="mb-25 min-h-120">It doesn’t matter what your previous working background is, as everything is taught from the basics.</p>
								<div class="d-flex align-items-center">
									<a href="#">
										<i class="me-15 fa fa-linkedin-square"></i>
										<span>Detailed Review</span>									
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>	
				<div class="col-md-3 col-12">
					<div class="box pull-up">
						<div class="box-body">
							<div>
								<div class="d-flex align-items-center mb-30">
									<div class="me-15">
										<img src="../images/front-end-img/avatar/5.jpg" class="avatar avatar-lg rounded10" alt="">
									</div>
									<div class="d-flex flex-column fw-500">
										<a href="#" class="text-dark hover-primary mb-1 fs-16">Paton don</a>
										<span class="text-fade fs-12">Data Analyst</span>
									</div>
								</div>
								<p class="mb-25 min-h-120">They will prepare you how to face Data Science job interviews along with this upGrad will also provide mock interviews and mock MCQ tests to check...</p>
								<div class="d-flex align-items-center">
									<a href="#">
										<i class="me-15 fa fa-linkedin-square"></i>
										<span>Detailed Review</span>									
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-12">
					<div class="box pull-up">
						<div class="box-body">
							<div>
								<div class="d-flex align-items-center mb-30">
									<div class="me-15">
										<img src="../images/front-end-img/avatar/6.jpg" class="avatar avatar-lg rounded10" alt="">
									</div>
									<div class="d-flex flex-column fw-500">
										<a href="#" class="text-dark hover-primary mb-1 fs-16">Johen Doe</a>
										<span class="text-fade fs-12">Samsung</span>
									</div>
								</div>
								<p class="mb-25 min-h-120">Many of the basic concepts are being taught to build good intuition of Machine Learning models. Most of the basic math required for developing an intuition...</p>
								<div class="d-flex align-items-center">
									<a href="#">
										<i class="me-15 fa fa-linkedin-square"></i>
										<span>Detailed Review</span>									
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-12">
					<div class="box pull-up">
						<div class="box-body">
							<div>
								<div class="d-flex align-items-center mb-30">
									<div class="me-15">
										<img src="../images/front-end-img/avatar/7.jpg" class="avatar avatar-lg rounded10" alt="">
									</div>
									<div class="d-flex flex-column fw-500">
										<a href="#" class="text-dark hover-primary mb-1 fs-16">Moriss Kothari</a>
										<span class="text-fade fs-12">Software Engineer</span>
									</div>
								</div>
								<p class="mb-25 min-h-120">You will be notified of any interview opportunities in ML and they will share your profile with the recruiters. This really helps to kick start your...</p>
								<div class="d-flex align-items-center">
									<a href="#">
										<i class="me-15 fa fa-linkedin-square"></i>
										<span>Detailed Review</span>									
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-12">
					<div class="box pull-up">
						<div class="box-body">
							<div>
								<div class="d-flex align-items-center mb-30">
									<div class="me-15">
										<img src="../images/front-end-img/avatar/8.jpg" class="avatar avatar-lg rounded10" alt="">
									</div>
									<div class="d-flex flex-column fw-500">
										<a href="#" class="text-dark hover-primary mb-1 fs-16">Johens Kothari</a>
										<span class="text-fade fs-12">Software Engineer</span>
									</div>
								</div>
								<p class="mb-25 min-h-120">The course justifies every penny charged and is an investment that reaps benefits once we enter the market after course completion.</p>
								<div class="d-flex align-items-center">
									<a href="#">
										<i class="me-15 fa fa-linkedin-square"></i>
										<span>Detailed Review</span>									
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>	
	
	<section class="py-50 bg-img countnm-bx" style="background-image: url(../images/front-end-img/background/bg-3.jpg)" data-overlay="5" data-aos="fade-up">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6 col-12">
					<div class="text-center">
						<div class="w-80 h-80 l-h-100 rounded-circle b-1 border-white text-center mx-auto">
							<span class="text-white fs-40 icon-Selected-file"><span class="path1"></span><span class="path2"></span></span>
						</div>
						<h1 class="countnm my-10 text-white fw-300">5428</h1>
						<div class="text-uppercase text-white">Jobs Posted</div>
					</div>
				</div>	
				<div class="col-lg-3 col-md-6 col-12">
					<div class="text-center">
						<div class="w-80 h-80 l-h-100 rounded-circle b-1 border-white text-center mx-auto">
							<span class="text-white fs-40 icon-Edit"><span class="path1"></span><span class="path2"></span></span>
						</div>
						<h1 class="countnm my-10 text-white fw-300">120</h1>
						<div class="text-uppercase text-white">Jobs Filled</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-12">
					<div class="text-center">
						<div class="w-80 h-80 l-h-100 rounded-circle b-1 border-white text-center mx-auto">
							<span class="text-white fs-40 icon-Briefcase"><span class="path1"></span><span class="path2"></span></span>
						</div>
						<h1 class="countnm my-10 text-white fw-300">7485</h1>
						<div class="text-uppercase text-white">Companies</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-12">
					<div class="text-center">
						<div class="w-80 h-80 l-h-100 rounded-circle b-1 border-white text-center mx-auto">
							<span class="text-white fs-40 icon-Add-user"><span class="path1"></span><span class="path2"></span></span>
						</div>
						<h1 class="countnm my-10 text-white fw-300">100</h1>
						<div class="text-uppercase text-white">Members</div>
					</div>
				</div>			
			</div>
		</div>
	</section>
	
	<section class="py-50" data-aos="fade-up">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-7 col-12 text-center">
					<h1 class="mb-15">Latest Blog</h1>				
					<hr class="w-100 bg-primary">
				</div>
			</div>
			<div class="row mt-30">
				<div class="col-xl-4 col-md-4 col-12">
					<div class="blog-post">
						<div class="entry-image clearfix">
							<img class="img-fluid" src="../images/front-end-img/courses/1f.jpg" alt="">
						</div>
						<div class="blog-detail">
							<div class="entry-title mb-10">
								<a href="#">Blog Post With Image</a>
							</div>
							<div class="entry-meta mb-10">
								<ul class="list-unstyled">
									<li><a href="#"><i class="fa fa-folder-open-o"></i> Design</a></li>
									<li><a href="#"><i class="fa fa-comment-o"></i> 5</a></li>
									<li><a href="#"><i class="fa fa-calendar-o"></i> 12 Aug 2020</a></li>
								</ul>
							</div>
							<div class="entry-content">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus fuga laborum totam itaque architecto! Laudantium sed delectus assumenda, doloribus non.</p>
							</div>
							<div class="entry-share d-flex justify-content-between align-items-center">
								<div class="entry-button">
									<a href="#" class="btn btn-primary btn-sm">Read more</a>
								</div>
								<div class="social">
									<strong>Share : </strong>
									<ul class="list-unstyled">
										<li>
											<a href="#"> <i class="fa fa-facebook"></i> </a>
										</li>
										<li>
											<a href="#"> <i class="fa fa-twitter"></i> </a>
										</li>
										<li>
											<a href="#"> <i class="fa fa-pinterest-p"></i> </a>
										</li>
										<li>
											<a href="#"> <i class="fa fa-dribbble"></i> </a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-4 col-md-4 col-12">
					<div class="blog-post">
						<div class="entry-image clearfix">
							<div class="owl-carousel bottom-dots-center owl-theme" data-nav-dots="true" data-autoplay="true"  data-items="1" data-md-items="1" data-sm-items="1" data-xs-items="1" data-xx-items="1">
								<div class="item">
									<img src="../images/front-end-img/courses/2f.jpg" alt="">
								</div>
								<div class="item">
									<img src="../images/front-end-img/courses/3f.jpg" alt="">
								</div>
								<div class="item">
									<img src="../images/front-end-img/courses/4f.jpg" alt="">
								</div>
							</div>
						</div>
						<div class="blog-detail">
							<div class="entry-title mb-10">
								<a href="#">Blog Post With Image Slider</a>
							</div>
							<div class="entry-meta mb-10">
								<ul class="list-unstyled">
									<li><a href="#"><i class="fa fa-folder-open-o"></i> Design</a></li>
									<li><a href="#"><i class="fa fa-comment-o"></i> 5</a></li>
									<li><a href="#"><i class="fa fa-calendar-o"></i> 12 Aug 2020</a></li>
								</ul>
							</div>
							<div class="entry-content">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus fuga laborum totam itaque architecto! Laudantium sed delectus assumenda, doloribus non.</p>
							</div>
							<div class="entry-share d-flex justify-content-between align-items-center">
								<div class="entry-button">
									<a href="#" class="btn btn-primary btn-sm">Read more</a>
								</div>
								<div class="social">
									<strong>Share : </strong>
									<ul class="list-unstyled">
										<li>
											<a href="#"> <i class="fa fa-facebook"></i> </a>
										</li>
										<li>
											<a href="#"> <i class="fa fa-twitter"></i> </a>
										</li>
										<li>
											<a href="#"> <i class="fa fa-pinterest-p"></i> </a>
										</li>
										<li>
											<a href="#"> <i class="fa fa-dribbble"></i> </a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-4 col-md-4 col-12">
					<div class="blog-post">
						<div class="entry-image clearfix">
							<ul class="grid-post list-unstyled">
								<li>
									<img class="img-fluid" src="../images/front-end-img/courses/5f.jpg" alt="">
								</li>
								<li>
									<img class="img-fluid" src="../images/front-end-img/courses/6f.jpg" alt="">
								</li>
								<li>
									<img class="img-fluid" src="../images/front-end-img/courses/7f.jpg" alt="">
								</li>
								<li>
									<img class="img-fluid" src="../images/front-end-img/courses/8f.jpg" alt="">
								</li>
							</ul>
						</div>
						<div class="blog-detail">
							<div class="entry-title mb-10">
								<a href="#">Blogpost With Image Grid Gallery</a>
							</div>
							<div class="entry-meta mb-10">
								<ul class="list-unstyled">
									<li><a href="#"><i class="fa fa-folder-open-o"></i> Design</a></li>
									<li><a href="#"><i class="fa fa-comment-o"></i> 5</a></li>
									<li><a href="#"><i class="fa fa-calendar-o"></i> 12 Aug 2020</a></li>
								</ul>
							</div>
							<div class="entry-content">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus fuga laborum totam itaque architecto! Laudantium sed delectus assumenda, doloribus non.</p>
							</div>
							<div class="entry-share d-flex justify-content-between align-items-center">
								<div class="entry-button">
									<a href="#" class="btn btn-primary btn-sm">Read more</a>
								</div>
								<div class="social">
									<strong>Share : </strong>
									<ul class="list-unstyled">
										<li>
											<a href="#"> <i class="fa fa-facebook"></i> </a>
										</li>
										<li>
											<a href="#"> <i class="fa fa-twitter"></i> </a>
										</li>
										<li>
											<a href="#"> <i class="fa fa-pinterest-p"></i> </a>
										</li>
										<li>
											<a href="#"> <i class="fa fa-dribbble"></i> </a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	